<!DOCTYPE html>
<html>
<header>
  <div class="wrap">
    <h2>TindyPro</h2>
  </div>
</header>
<head>
	<title>TindyPro</title>
	<link rel = "stylesheet" href="{{url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div class="navbar"></div>
  	<div class="container">
  	<!--div class="canvas"></div-->
		<div class="login">
      <form method="POST" action="">
        {{ form.hidden_tag() }}

          <label for="user">Facebook Username</label>
          {{ form.user(class="logininput") }}
          {% if form.user.errors %}
            <div class="alert error">
                {% for error in form.user.errors %}
                  <span class="closebtn">&times;</span>  
                  {{ error }}
                {% endfor %}
            </div>
          {% endif %}

          <label for="pass">Facebook Password</label>
          {{ form.password(class="logininput") }}
          {{ form.submit(class="loginsubmit")}}
        </form>

        <script>
          var close = document.getElementsByClassName("closebtn");
          var i;
          for (i = 0; i < close.length; i++) {
            close[i].onclick = function(){
              var div = this.parentElement;
              div.style.opacity = "0";
              setTimeout(function(){ div.style.display = "none"; }, 600);
            }
          }
        </script>
      
  </div>

  	</div>
</body>
</html>